In [15]:
import csv
import gmaps
import numpy as np
import pandas as pd
import requests
from scipy import stats as st
from matplotlib import pyplot as plt
from datetime import datetime as dt

In [30]:
file1 = "Resouces/ukemmission.csv"
file2 = "Resources/ukpopulation.csv"
emi_df = pd.read_csv(file1)
pop_df = pd.read_csv(file2)
pop_df.head()
# pop_df.set_index("Year", inplace = True)
# emi_df.set_index("Year", inplace = True)

         Year  POPULATION/1000
0  1990-01-01            57237
1  1991-01-01            57439
2  1992-01-01            57585
3  1993-01-01            57714
4  1994-01-01            57862

In [33]:
# pop_df['Year'] = pop_df['Year'].dt.year
pd.to_datetime(pop_df['Year'], format= '%Y')

# pop_df['Year'] = pop_df['Year'].dt.year



pop_df

ValueError: unconverted data remains: -01-01

In [6]:
emi_df

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Year,,,,,,,,,,,,,,,,,,,,,
Net CO2 emissions (emissions minus removals),596.3,603.6,587.3,572.8,568.8,560.1,580.9,554.1,558.4,552.0,...,545.9,531.1,480.8,498.3,455.6,474.2,464.0,424.9,408.3,385.8
Methane (CH4),132.5,133.2,132.9,131.2,124.4,125.9,125.0,122.7,119.2,113.6,...,78.6,73.0,68.5,63.9,61.2,59.6,55.5,53.3,52.7,51.1
Nitrous oxide (N2O),48.2,48.4,43.5,39.2,39.8,38.6,38.5,38.8,38.7,29.2,...,23.2,22.5,21.0,21.3,20.6,20.4,20.3,20.8,20.3,20.2
Hydrofluorocarbons (HFC),14.4,15.0,15.6,16.5,17.6,19.1,20.2,23.1,20.0,11.4,...,14.4,14.9,15.5,16.4,14.8,15.4,15.7,15.9,15.9,15.1
Perfluorocarbons (PFC),1.7,1.4,0.7,0.6,0.6,0.6,0.6,0.5,0.5,0.5,...,0.3,0.3,0.2,0.3,0.4,0.3,0.3,0.3,0.3,0.4
Sulphur hexafluoride (SF6),1.3,1.3,1.4,1.2,1.3,1.3,1.3,1.3,1.4,1.5,...,0.9,0.7,0.6,0.7,0.6,0.6,0.5,0.5,0.5,0.5
Nitrogen trifluoride (NF3),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
emi_df = emi_df.T
emi_df

Year,Net CO2 emissions (emissions minus removals),Methane (CH4),Nitrous oxide (N2O),Hydrofluorocarbons (HFC),Perfluorocarbons (PFC),Sulphur hexafluoride (SF6),Nitrogen trifluoride (NF3)
1990,596.3,132.5,48.2,14.4,1.7,1.3,0.0
1991,603.6,133.2,48.4,15.0,1.4,1.3,0.0
1992,587.3,132.9,43.5,15.6,0.7,1.4,0.0
1993,572.8,131.2,39.2,16.5,0.6,1.2,0.0
1994,568.8,124.4,39.8,17.6,0.6,1.3,0.0
1995,560.1,125.9,38.6,19.1,0.6,1.3,0.0
1996,580.9,125.0,38.5,20.2,0.6,1.3,0.0
1997,554.1,122.7,38.8,23.1,0.5,1.3,0.0
1998,558.4,119.2,38.7,20.0,0.5,1.4,0.0
1999,552.0,113.6,29.2,11.4,0.5,1.5,0.0
2000,558.3,108.4,28.5,9.8,0.6,1.8,0.0
2001,566.7,103.6,26.9,10.8,0.5,1.5,0.0
2002,549.8,101.1,25.2,11.3,0.4,1.5,0.0
2003,561.0,96.0,24.8,12.8,0.4,1.3,0.0
2004,561.8,91.7,25.3,11.8,0.4,1.1,0.0
2005,557.9,86.9,24.4,13.0,0.4,1.1,0.0
2006,554.8,82.5,23.2,13.9,0.4,0.9,0.0
2007,545.9,78.6,23.2,14.4,0.3,0.9,0.0
2008,531.1,73.0,22.5,14.9,0.3,0.7,0.0
2009,480.8,68.5,21.0,15.5,0.2,0.6,0.0
2010,498.3,63.9,21.3,16.4,0.3,0.7,0.0
2011,455.6,61.2,20.6,14.8,0.4,0.6,0.0
2012,474.2,59.6,20.4,15.4,0.3,0.6,0.0
2013,464.0,55.5,20.3,15.7,0.3,0.5,0.0
2014,424.9,53.3,20.8,15.9,0.3,0.5,0.0
2015,408.3,52.7,20.3,15.9,0.3,0.5,0.0
2016,385.8,51.1,20.2,15.1,0.4,0.5,0.0

In [8]:
ukemi_df = pd.concat([emi_df,pop_df], axis=1)
ukemi_df

,Net CO2 emissions (emissions minus removals),Methane (CH4),Nitrous oxide (N2O),Hydrofluorocarbons (HFC),Perfluorocarbons (PFC),Sulphur hexafluoride (SF6),Nitrogen trifluoride (NF3),POPULATION/1000
1990,596.3,132.5,48.2,14.4,1.7,1.3,0.0,NaN
1991,603.6,133.2,48.4,15.0,1.4,1.3,0.0,NaN
1992,587.3,132.9,43.5,15.6,0.7,1.4,0.0,NaN
1993,572.8,131.2,39.2,16.5,0.6,1.2,0.0,NaN
1994,568.8,124.4,39.8,17.6,0.6,1.3,0.0,NaN
1995,560.1,125.9,38.6,19.1,0.6,1.3,0.0,NaN
1996,580.9,125.0,38.5,20.2,0.6,1.3,0.0,NaN
1997,554.1,122.7,38.8,23.1,0.5,1.3,0.0,NaN
1998,558.4,119.2,38.7,20.0,0.5,1.4,0.0,NaN
1999,552.0,113.6,29.2,11.4,0.5,1.5,0.0,NaN
2000,558.3,108.4,28.5,9.8,0.6,1.8,0.0,NaN
2001,566.7,103.6,26.9,10.8,0.5,1.5,0.0,NaN
2002,549.8,101.1,25.2,11.3,0.4,1.5,0.0,NaN
2003,561.0,96.0,24.8,12.8,0.4,1.3,0.0,NaN
2004,561.8,91.7,25.3,11.8,0.4,1.1,0.0,NaN
2005,557.9,86.9,24.4,13.0,0.4,1.1,0.0,NaN
2006,554.8,82.5,23.2,13.9,0.4,0.9,0.0,NaN
2007,545.9,78.6,23.2,14.4,0.3,0.9,0.0,NaN
2008,531.1,73.0,22.5,14.9,0.3,0.7,0.0,NaN
2009,480.8,68.5,21.0,15.5,0.2,0.6,0.0,NaN
2010,498.3,63.9,21.3,16.4,0.3,0.7,0.0,NaN
2011,455.6,61.2,20.6,14.8,0.4,0.6,0.0,NaN
2012,474.2,59.6,20.4,15.4,0.3,0.6,0.0,NaN
2013,464.0,55.5,20.3,15.7,0.3,0.5,0.0,NaN
2014,424.9,53.3,20.8,15.9,0.3,0.5,0.0,NaN
2015,408.3,52.7,20.3,15.9,0.3,0.5,0.0,NaN
2016,385.8,51.1,20.2,15.1,0.4,0.5,0.0,NaN
1905-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57237.0
1991-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57439.0
1992-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57585.0
1993-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57714.0
1994-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57862.0
1995-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58025.0
1996-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58164.0
1997-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58314.0
1998-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58475.0
1999-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58684.0
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58886.0
2001-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59113.0
2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59366.0
2003-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59637.0
2004-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59950.0
2005-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60413.0
2006-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60827.0
2007-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61319.0
2008-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61824.0
2009-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62260.0
2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62759.0
2011-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63285.0
2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63705.0
2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64106.0
2014-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64597.0
2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65110.0
2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65573.0